@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
    font-family: "Outfit", "sans-serif";
    color-scheme: dark;
}

::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}

.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #0c1317;
    min-height: 100vh;
    color: white;
    font-size: calc(10px + 2vmin);
}

.error-page > button {
    text-decoration: underline;
}
.error-page > button:hover {
    color: red;
}
@media screen and (max-width: 1023px) {
    .side_header {
        display: none;
    }
}
